<!DOCTYPE HTML><html>
<head>
   <% include head.ejs%>
    
</head>
<body>
    <% include header.ejs%>
    
    <img style="margin-bottom:10px; align-self:center; height:50%; width:100%" class="active visible-lg img-responsive" src="/../images/audi.jpg" />
    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        <li><a href="/" id="abt">About</a></li>
        	<li class="active"><a id="bar" href="#">Mileage Statistics</a></li>
            <li><a id="pie" href="#">Drive Types</a></li>
            <li><a id="model" href="#">Fuel Consumption</a></li>
            <li><a id="sankey" href="#">Yearly Statistics</a></li>
            <li><a id="bubble" href="#">Class Statistics</a></li>  


           
      
        </ul>
        <div class="tab-content">
        	<div class="tab-pane active">
                <h2>Average City/Highway Mileage Vs Audi Make Type </h2>
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->

   

    <script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['<%= output1[0]._id.model%>',
                             '<%= output1[1]._id.model%>',
                             '<%= output1[2]._id.model%>',
                             '<%= output1[3]._id.model%>',
                             '<%= output1[4]._id.model%>',
                             '<%= output1[5]._id.model%>',
                             '<%= output1[6]._id.model%>',
                             '<%= output1[7]._id.model%>',
                             '<%= output1[8]._id.model%>',
                             '<%= output1[9]._id.model%>',
                             '<%= output1[10]._id.model%>'
                            ],
                crosshair: true,
                labels: {
                    rotation: -45
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Miles/hour'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                type: 'column',
                name: 'Highway Mileage',
                data: [<%= output1[0]._id.highway%>, <%= output1[1]._id.highway%>,<%= output1[2]._id.highway%>,<%= output1[3]._id.highway%>,
                       <%= output1[4]._id.highway%>,<%= output1[5]._id.highway%>,<%= output1[6]._id.highway%>,<%= output1[7]._id.highway%>,
                       <%= output1[8]._id.highway%>,<%= output1[9]._id.highway%>,<%= output1[10]._id.highway%>]

            },
            {
                type: 'spline',
                name: 'City Mileage',
                data: [<%= output1[0]._id.city%>, <%= output1[1]._id.city%>,<%= output1[2]._id.city%>,<%= output1[3]._id.city%>,
                       <%= output1[4]._id.city%>,<%= output1[5]._id.city%>,<%= output1[6]._id.city%>,<%= output1[7]._id.city%>,
                       <%= output1[8]._id.city%>,<%= output1[9]._id.city%>,<%= output1[10]._id.city%>]

            }
            ]
        });
    });
        
    </script>
    <% include footer.ejs%>
</body>
</html>
